<div class="container">
  <h1>Quiz</h1>

  <p><%= @question.content %></p>

  <%= form_tag quiz_check_path(@quiz) do %>
    <% @question.options.each do |answer| %>
    <div class="radio">
      <%= radio_button_tag("answer", answer.id, checked = false) %>
        <%= answer.respuesta %>
    </div>
    <% end %>
    <%= submit_tag "Answer", :class => "btn btn-primary" %>
  <% end %>  
</div>
