<div class="container">
	<div class="">
		<%= form_for (@quiz), html: {class: "quiz-form"} do |f| %>
			<% if @quiz.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

		      <ul>
		      <% @quiz.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

			<div class="form-group divisor">
				<%= f.label :Name %> <br/>
				<%= f.text_field :Name, class: 'form-control' %>
			</div>
		
			<h2>Questions</h2>
			<div class="">
				<ul class="questions-container">	
				  <%= f.nested_fields_for :questions, render_template: false, new_item_index: 'new_question_item' do |q| %>
				  	<% render 'options_fields', q: q %>
			    <% end %>
				</ul>
			</div>
			
			<%= nested_fields_templates %>
			<button type="button" href="#" class="question-add btn btn-default fa fa-plus">Add Question</button>
			
			<div class="actions submitborder">
				<p><%= f.submit "Create a Quizz", class: 'bsubmit btn btn-primary' %></p>
			</div>

	<% end %>
	</div>
</div>

	
